@page
@model ServiceHost.Areas.Admin.Pages.Company.Bill.IndexModel

@{
    //string colaps = "in";
    //string act = "active";
    int i = 1;
}
@{
    //Layout = "~/Pages/Shared/_Layout.cshtml";
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "مدیریت لایحه";
    <style>
        .thh0 {
            width: 8px !important;
        }

        .thh {
            width: 40px !important;
        }

        .thh2 {
            width: 130px !important;
        }

        .thhNastionalId {
            width: 30px !important;
        }

        .inpt {
            width: 100%;
            border: 1px solid #c7c7c7;
        }

        .searchpanel {
            background-color: #747272;
        }
    </style>
}
<div class="row">
    <div class="row">
        <div class="col-sm-12 m-r-10">
            <p class="pull-right">
                <a id="btnPopModal" asp-page="/Company/Bill/CreateBill" class="btn btn-success btn-rounded waves-effect waves-light m-b-5" style=" background-color: #f5f5f5; border-color: #0f9500; font-family: 'Web_Yekan' !important; color: #0f9500 !important; margin-right: 10px "> <i class="fa fa-user-plus" style="padding-left: 3px; font-size: 14px; color: #0f9500 !important "></i> ایجاد لایحه جدید </a>
            </p>
        </div>
    </div>


    <div class="col-sm-12">
        <div class="panel-group panel-group-joined" id="accordion-test">
            <div class="panel panel-default" style="border-radius: 15px !important;">
                <div class="panel-heading" style="background-color: #545353 !important">
                    <h4 class="panel-title" style="color: #edebeb !important; display: inline;">
                        <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseOne" class="collapsed" style="display: inline;">
                            جستجوی عناوین
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in ">
                    <div class="panel-body" style="padding-top: 15px; padding-bottom: 15px;">

                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form-inline" role="form" method="get" name="search-theme-form" id="search-theme-form" autocomplete="off">

                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-3 pull-right">
                                                <div class="form-group">
                                                    <input id="Appointed_Id" asp-for="searchModel.Appointed" class="form-control" placeholder="انتخاب موکل" style="z-index: 0;" />

                                                </div>
                                            </div>
                                            <div class="col-sm-3 pull-right">
                                                <div class="form-group">
                                                    <input id="ProcessingStage_Id" asp-for="searchModel.ProcessingStage" placeholder="مرحله رسیدگی" class="form-control" style="z-index: 0;" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pull-right">
                                                <div class="form-group">
                                                    <input id="Contact_Id" asp-for="searchModel.Contact" placeholder="انتخاب مخاطب" class="form-control" style="z-index: 0;" />
                                                </div>
                                            </div>
                                            <div class="col-sm-3 pull-right">
                                                <div class="form-group">
                                                    <input asp-for="searchModel.SubjectBill" placeholder="موضوع" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="row" style="margin-top: 15px">
                                            <div class="col-lg-6" style="margin-top: 15px">
                                            </div>
                                            <div class="col-lg-3" style="margin-top: 15px">
                                                <label asp-for="searchModel.Status" class="control-label col-md-5 col-sm-5 col-xs-12"> وضعیت : </label>
                                                <select class="form-control" asp-for="searchModel.Status" placeholder="وضعیت">
                                                    <option value="1"> فعال </option>
                                                    <option value="2">غیر فعال </option>
                                                    <option value="0">هردو </option>
                                                </select>
                                            </div>
                                            <div class="col-lg-3" style="margin-top: 15px">
                                                <button type="submit" class="btn btn-success btn-rounded waves-effect waves-light m-b-5" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px; background-color: #950000; border-color: #950000; font-family: 'Web_Yekan' !important; margin-left: -3px"> <i class="fa fa-search" style="padding-left: 3px; font-size: 14px;"></i> جستجو</button>
                                                <a class="btn btn-info btn-rounded waves-effect waves-light m-b-5" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; background-color: #545353; border-color: #545353; font-family: 'Web_Yekan' !important;" asp-page="./Index">مشاهده همه</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list" style="padding-left: 3px; font-size: 14px"></i> لیست بخش</h3>
            </div>
            <div class="panel-body">
                <table id="datatable" class="table table-striped table-bordered" width="100%">
                    <thead>
                        <tr>
                            <th style="font-size: 16px !important; width: 3% !important">#</th>
                            <th style="font-size: 16px !important; width: 5% !important ; text-align:center">انتخاب موکل</th>
                            <th style="font-size: 16px !important; width: 5% !important ; text-align:center"> مرحله رسیدگی </th>
                            <th style="font-size: 16px !important; width: 15% !important; text-align:center">انتخاب مخاطب </th>
                            <th style="font-size: 16px !important; width: 15% !important; text-align:center">موضوع </th>
                            <th style="font-size: 16px !important; width: 5% !important;text-align: center">عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model.Bills)
                        {
                            <tr>
                                <td style="font-size: 14px !important; text-align: right">@i </td>
                                <td style="font-size: 14px !important; text-align: right">@item.Appointed&nbsp; </td>
                                <td style="font-size: 14px !important; text-align: right">@item.ProcessingStage  </td>
                                <td style="font-size: 14px !important; text-align: right">@item.Contact </td>
                                <td style="font-size: 14px !important; text-align: right">@item.SubjectBill</td>
                                @{
                                    i++;
                                }
                                <td>
                                    <a class="btn btn-warning pull-left m-rl-5" asp-page="./Edit" asp-route-id="@item.Id">ویرایش</a> |
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<link href="~/js/PTextManager/jquery-ui/jquery-ui.css" rel="stylesheet" />
@section PanelScripts{
    <script src="~/AdminTheme/assets/js/site.js"></script>
    <script src="~/adminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminTheme/assets/datatables/dataTables.bootstrap.js"></script>
    <script src="~/js/PTextManager/jquery-ui/jquery-ui.min.js"></script>
    <script>
    $(document).ready(function () {
            $('#Appointed_Id').autocomplete({
                source: '@Url.Page("CreateBill", "Appointed")'
              });
            $('#ProcessingStage_Id').autocomplete({
                source: '@Url.Page("CreateBill", "ProcessingStage")'
              });
            $('#Contact_Id').autocomplete({
                source: '@Url.Page("CreateBill", "Contact")'
            });


        });
    </script>
    <script>
        $(document).ready(function () {
            $(function () {
                $('#search').on('keyup', function () {
                    var pattern = $(this).val();
                    $('.searchable-container .items').hide();
                    $('.searchable-container .items').filter(function () {

                        /*      $('#hhh').val() = $(this).text().match(new RegExp(pattern, 'i'));*/
                        return $(this).text().match(new RegExp(pattern, 'i'));
                    }).show();
                });
            });
            $('#datatable').dataTable(
                {
                    //"scrollY": 400,
                    /*    "scrollX": true,*/
                    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
                });
            $('#datatable2').dataTable(
                {
                    "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]]
                });

        });
    </script>


}