@using _0_Framework.Application
@model CompanyManagment.App.Contracts.CrossJobGuild.EditCrossJobGuild
@{

    <style>
        .select2-container {
            width: 100% !important;
        }

        .modal-footer {
            border-top: unset !important;
        }

        .modal .modal-dialog .modal-content .modal-footer {
            padding-top: unset !important;
        }

        p {
            direction: ltr !important;
            text-align: right !important;
        }

        input[type=radio]:hover {
            cursor: pointer;
        }

        .error {
            font-size: 14px !important;
        }

        th {
            text-align: center;
            vertical-align: middle;
        }
    </style>
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>

    <form asp-page="./Index" asp-page-handler="Details" id="workshops" autocomplete="off"
          method="post"
          data-ajax="true"
          data-callback=""
          data-action="Refresh"
          enctype="multipart/form-data">
        <div class="modal-body">
            <div class="row">
                <fieldset style="border: 1px solid #999797; border-radius: 10px; padding: revert">
                    <legend style="margin-bottom: 5px; font-size: large; border-bottom: 0px; color: #505458; width: 200px; text-align: center;"> جزئیات واحد صنفی </legend>

                    <div class="row">
                        <div class="col-md-2">
                            <div class="form-group">
                                <label class="control-label">  سال </label>
                                <p class="form-control "> @Model.Year </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label class="control-label"> عنوان صنف و درجه </label>
                                <p class="form-control "> @Model.Title </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <label class="control-label"> کد اقتصادی </label>


                        </div>
                    </div>
                    <div class="row">
                        @{
                            var split = Model.EconomicCode.Split("-");
                            foreach (var itemcode in split)
                            {
                                <div class="col-md-2">
                                    <div class="form-group">
                                        <p class="form-control "> @itemcode </p>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <table id="datatableCreate" class="table table-bordered">
                        <thead style="background-color:#a9fcff">
                            <tr>
                                <th style=" text-align: center; vertical-align: middle;" rowspan="2">#</th>
                                <th style=" font-size: 20px; text-align: center; vertical-align: middle" rowspan="2"> مشاغل </th>
                                <th style=" font-size: 20px; text-align: center; vertical-align: middle" colspan="2"> برای شهریه های کمتر از 500000 نفر </th>
                                <th style=" font-size: 20px; text-align: center; vertical-align: middle" colspan="3"> برای شهریه های بیشتر از 500000 نفر </th>
                            </tr>

                            <tr>
                                <th style=" font-size: 15px; text-align: center; vertical-align: middle"> به نسبت حداقل دستمزد </th>
                                <th style=" font-size: 15px; text-align: center; vertical-align: middle"> معادل ریالی </th>
                                <th style=" font-size: 15px; text-align: center; vertical-align: middle"> به نسبت حداقل دستمزد </th>
                                <th style=" font-size: 15px; text-align: center; vertical-align: middle" colspan="2"> معادل ریالی </th>
                            </tr>
                        </thead>

                        @{
                            int i = 0;
                            foreach (var cj in Model.crossJobsList)
                            {
                                <tbody id="datatableTbody_@i">
                                    <tr id="datatableTr">
                                        <td style="font-size: 14px !important; text-align: center">
                                            @{
                                                var index = i + 1;
                                            }
                                            @index
                                        </td>
                                        @{
                                            var str = " ";
                                            foreach (var cjItem in Model.crossJobItemsList.Where(x => x.crossJobId == cj.Id).ToList())
                                            {
                                                str = str+ "-" + cjItem.job.JobName;
                                                str = str.Trim();
                                            }
                                        }
                                        <td style="font-size: 14px !important; text-align: center">
                                            <textarea disabled rows="3" cols="50" style="width:240px"
                                                      class="form-control">@str.Substring(1)</textarea>
                                        </td>
                                        <td style="font-size: 14px !important; text-align: center">
                                            <input disabled type="text" class="form-control " asp-for="@cj.SalaryRatioUnder">
                                        </td>
                                        <td style="font-size: 14px !important; text-align: center">
                                            <input disabled type="text" class="form-control " asp-for="@cj.EquivalentRialUnder">
                                        </td>
                                        <td style="font-size: 14px !important; text-align: center">
                                            <input disabled type="text" class="form-control " asp-for="@cj.SalaryRatioOver">
                                        </td>
                                        <td style="font-size: 14px !important; text-align: center">
                                            <input disabled type="text" class="form-control " asp-for="@cj.EquivalentRialOver">
                                        </td>
                                        <td style="font-size: 14px !important; text-align: center">
                                        </td>
                                    </tr>
                                </tbody>
                                i++;
                            }
                        }

                    </table>
                </fieldset>
            </div>

        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-default btn-rounded waves-effect waves-light m-b-5" data-dismiss="modal">بستن</button>
        </div>

    </form>

</div>


<script>


    $(document).ready(function () {

        $('.modal-dialog').addClass('modal-lg');

    })

</script>


