@page
@model ServiceHost.Areas.Admin.Pages.Company.TextManager.IndexModel
@{
}
@{
    //string colaps = "in";
    //string act = "active";
    int i = 1;
}
@{
    //Layout = "~/Pages/Shared/_Layout.cshtml";
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "مدیریت متن";
}
<style>
    .thh0 {
        width: 8px !important;
    }

    .thh {
        width: 40px !important;
    }

    .thh2 {
        width: 130px !important;
    }

    .thhNastionalId {
        width: 30px !important;
    }

    .inpt {
        width: 100%;
        border: 1px solid #c7c7c7;
    }

    .searchpanel {
        background-color: #747272;
    }

    <style >
    .sizeSet {
        padding: 2px !important;
        text-align: center !important;
    }

    .rad {
        border-radius: 8px !important;
        /* padding: 10px; */
        padding: 2px 5px 0px 5px;
    }

    .faSize {
        font-size: 22px !important;
    }

    .thh0 {
        width: 8px !important;
    }

    .thh {
        width: 40px !important;
    }

    .thh2 {
        width: 130px !important;
    }

    .thhNastionalId {
        width: 30px !important;
    }

    .inpt {
        width: 100%;
        border: 1px solid #c7c7c7;
    }

    .searchpanel {
        background-color: #747272;
    }

    select {
        cursor: pointer;
    }

    .panel-default > .panel-heading {
        background-color: #950000 !important;
    }





    .tooltip-container {
        cursor: pointer;
        position: relative;
        display: inline-block;
    }

    .tooltip2-container {
        cursor: pointer;
        position: relative;
        display: inline-block;
    }

    .tooltip {
        opacity: 0;
        z-index: 99;
        color: #fff;
        width: 220px;
        display: block;
        font-size: 14px;
        font-family: 'IranSans';
        padding: 5px 10px;
        border-radius: 3px;
        text-align: center;
        /*text-shadow: 1px 1px 2px #111;*/
        background: #e67e22;
        border: 1px solid #e67e22;
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        position: absolute;
        right: -50px;
        bottom: 40px;
    }

        .tooltip:before, .tooltip:after {
            content: '';
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #e67e22;
            position: absolute;
            bottom: -10px;
            left: 70%;
        }

    .tooltip-container:hover .tooltip, a:hover .tooltip {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }

    .tooltip2 {
        opacity: 0;
        z-index: 99;
        color: #fff;
        width: 220px;
        display: block;
        font-size: 14px;
        font-family: 'IranSans';
        padding: 5px 10px;
        border-radius: 3px;
        text-align: center;
        /*text-shadow: 1px 1px 2px #111;*/
        background: #e67e22;
        border: 1px solid #e67e22;
        box-shadow: 0 0 3px rgba(0,0,0,0.5);
        -webkit-transition: all .2s ease-in-out;
        -moz-transition: all .2s ease-in-out;
        -o-transition: all .2s ease-in-out;
        -ms-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out;
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
        position: absolute;
        right: -90px;
        bottom: 40px;
    }

        .tooltip2:before, .tooltip2:after {
            content: '';
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-top: 10px solid #e67e22;
            position: absolute;
            bottom: -10px;
            left: 50%;
        }

    .tooltip2-container:hover .tooltip2, a:hover .tooltip2 {
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        -o-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
</style>

}

<div class="row">
    <div class="col-sm-12 m-r-10">
        <p class="pull-right">
            <a id="btnPopModal" href="#showmodal=@Url.Page("/Company/TextManager/Index", "Create")" class="btn btn-success btn-rounded waves-effect waves-light m-b-5" style=" background-color: #f5f5f5; border-color: #0f9500; font-family: 'Web_Yekan' !important; color: #0f9500 !important; margin-right: 10px "> <i class="fa fa-user-plus" style="padding-left: 3px; font-size: 14px; color: #0f9500 !important "></i> ایجاد متن جدید </a>
        </p>
    </div>
</div>



<div class="row">
    <div class="col-sm-12 m-r-10">

        @*<input type="hidden" id="sercheCheck" value="@Model.WorkshopSearch" />*@
 
        @*href="#showmodal=@Url.Page("./Index", "PrintAll", new {ids = idss})"*@
    </div>
</div>
<div class="col-sm-12">
    <div class="panel-group panel-group-joined" id="accordion-test">
        <div class="panel panel-default" style="border-radius: 15px !important; background-color: #fdc0c0; ">
            <div class="panel-heading" style="background-color: #950000 !important">
                <h4 class="panel-title" style="color: #edebeb !important; display: inline;">
                    <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseOne" class="collapsed" style="display: inline;">
                        جستجوی مخاطبین
                    </a>
                </h4>
            </div>
            <div id="collapseOne" class="panel-collapse collapse in ">
                <div class="panel-body" style="padding-top: 15px; padding-bottom: 15px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <form class="form-inline" role="form" method="get" name="search-theme-form" id="search-theme-form" autocomplete="off">
                                <div class="form-group col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-3 pull-right">

                                            <select class=" form-control inpt" asp-for="searchModel.OriginalTitle_Id" asp-items="Model.SelectListOriginalTitle" placeholder="عنوان" id="originalTitle" style="width: 100%">
                                                <option value="0" selected="selected" disabled>عنوان </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 pull-right">

                                            <select class=" form-control inpt" asp-for="searchModel.Subtitle_Id" asp-items="Model.SelectListSubtitle" placeholder="بخش" id="subtitle" style="width: 100%">
                                                <option value="-1" selected="selected" disabled>بخش </option>
                                            </select>
                                        </div>
                                        <div class="col-sm-3 pull-right">
                                            <label class="sr-only" asp-for="searchModel.Description"></label>
                                            <input class=" form-control inpt" asp-for="searchModel.Description" placeholder="مخاطب " style="width: 100%">
                                        </div>
                                        <div class="col-sm-3 pull-right">
                                            <input class="form-control inpt" asp-for="searchModel.SubjectTextManager" placeholder="موضوع" style="width: 100%">
                                        </div>
                                        <div class="col-sm-3 pull-right">
                                            <input class="form-control inpt" asp-for="searchModel.NoteNumber" placeholder="شماره" style="width: 100%">
                                        </div>
                                    </div>

                                    <hr style=" margin-top: 12px;margin-bottom: 12px;" />
                                    <div class="row" style="margin-top: 15px">
                                        <div class="col-lg-9">
                                            <label class="sr-only" asp-for="searchModel.IsActiveString"></label>
                                            <select id="activing" class="form-control activer" asp-for="searchModel.IsActiveString" style="background-color: #dddddd; border-radius: 25px; border: 1px solid #bfbfbf;">
                                                <option value="true"> فعال  </option>
                                                <option value="false"> غیرفعال</option>
                                                <option value="both"> هردو</option>
                                            </select>
                                        </div>
                                        <div class="col-lg-3">
                                            <button type="submit" class="btn btn-success btn-rounded waves-effect waves-light m-b-5 search" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px; background-color: #950000; border-color: #950000; font-family: 'Web_Yekan' !important; margin-left: -3px "> <i class="fa fa-search" style="padding-left: 3px; font-size: 14px;"></i> جستجو</button>
                                            <a class="btn btn-info btn-rounded waves-effect waves-light m-b-5" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; background-color: #545353; border-color: #545353; font-family: 'Web_Yekan' !important;" asp-page="./Index">مشاهده همه</a>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-sm-12">
    <div permission="20113" class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="fa fa-list" style="padding-left: 3px; font-size: 14px"></i> لیست متون</h3>
        </div>
        <div class="panel-body">
            <div class="row">
                <div class="col-sm-12 col-sm-12 col-xs-12">
                    <table id="datatable" class="table table-striped table-bordered">
                        <thead style="background-color: #ecefee">
                            <tr>

                                <th style="font-size: 10px !important;" class="sizeSet">
                                    <span class="tooltip-container">
                                        <input class="checkboxtitle" type="checkbox" id="checkSelect" onclick="selectori(this)" />
                                        <span class="tooltip"> با استفاده از این چک باکس می توانید  متن ها را بصورت گروهی انتخاب کرده و سپس با کلیک بر روی دکمه حذف گروهی یا پرینت گروهی اقدام به حذف یا پرینت گروهی نمایید</span>
                                    </span>

                                </th>           
                                <th style="font-size: 16px !important; width: 1% !important">#</th>
                                <th style="font-size: 16px !important; width: 4% !important ; text-align:center">بخش</th>
                                <th style="font-size: 16px !important; width: 4% !important ; text-align:center">عنوان</th>
                                <th style="font-size: 16px !important; width: 4% !important; text-align:center">فصل </th>
                                <th style="font-size: 16px !important; width: 1% !important ; text-align:center"> ماده </th>
                                <th style="font-size: 16px !important; width: 1% !important ; text-align:center"> شماره </th>
                                <th style="font-size: 16px !important; width: 15% !important; text-align:center">موضوع </th>

                                @foreach (var module in Model.ListModule)
                                {
                                    <th style="font-size: 16px !important; writing-mode:sideways-lr; width: 10px !important;">@module</th>
                                }
                        <th permission="20117" style="font-size: 10px !important;" onclick="event.stopPropagation();" class="sizeSet">
                            <span class="tooltip2-container">
                                <button type="button" style="padding: 5px 7px 0px 7px" class="btn btn-icon waves-effect waves-light btn-success m-b-5" id="checkSign" onclick="SignatureSelect()">
                                    <i class="ion-checkmark-circled" style="color: #fff; font-size: 17px"></i>
                                </button>
                                <span class="tooltip2">
                                    با استفاده از این دکمه می توانید  متن ها را بصورت گروهی امضاء نمایید
                                </span>
                            </span>
                            <span class="tooltip2-container">
                                <button type="button" style="padding: 5px 7px 0px 7px" class="btn btn-icon waves-effect waves-light btn-danger m-b-5" id="checkUnSign" onclick="SignatureSelect2()">
                                    <i class="ion-close-circled" style="color: #fff;font-size: 17px"></i>
                                </button>
                                <span class="tooltip2">
                                    با استفاده از این دکمه می توانید امضاء  متن ها را بصورت گروهی حذف نمایید
                                </span>
                            </span>


                        </th>
                        <th style="font-size: 10px !important">
                            <span style="float: right;">
                                <span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span><span>&nbsp;</span>
                                <span>&nbsp;</span><span>&nbsp;</span>
                            </span>
                            @*<a class="btn btn-info pull-right m-rl-5 rad" onclick="copyLink()">
                                <i class="fa faSize fa-print"></i>
                            </a>*@

                            <span class="act">

                            </span>
                            <a class="btn btn-danger pull-right m-rl-5 rad deact" onclick="deactiveAll()">
                                <i class="fa faSize fa-trash"></i>
                            </a>



                        </th>

                        </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.TextManagers)
                            {
                            <tr>
                                <td style="font-size: 12px !important; text-align: center">
                                    <input type="checkbox" name="foo" value="@item.Id" />
                                </td>
                                <td style="font-size: 14px !important; text-align: right">@i </td>
                                <td style="font-size: 14px !important; text-align: right">@item.OriginalTitle</td>
                                <td style="font-size: 14px !important; text-align: right">@item.Subtitle </td>
                                <td style="font-size: 14px !important; text-align: right">@item.Chapter </td>
                                <td style="font-size: 14px !important; text-align: right">@item.NoteNumber</td>
                                <td style="font-size: 14px !important; text-align: right">@item.NumberTextManager</td>
                                <td style="font-size: 14px !important; text-align: right">@item.SubjectTextManager</td>

                                @{
                                    var result = string.Join(",", item.ListUseModule.ToArray());
                                    for (int c = 0; c < Model.ListModule.Count(); c++)
                                    {

                                        if (result.Contains((Model.ListModule)[c]))
                                        {
                                            <td style="font-size: 14px !important; text-align: center">
                                                <label style="width: 20px; height: 20px; border-radius: 50%; border: 1px solid cadetblue; background: #67B55D; "></label>
                                            </td>
                                        }
                                        else
                                        {
                                            <td style="font-size: 14px !important; text-align: center">
                                                <label style="width: 20px; height: 20px; border-radius: 50%; border: 1px solid cadetblue;"></label>
                                            </td>
                                        }
                                    }
                                }
                                @{
                                    i++;
                                }
                                <td permission="20117" style="font-size: 12px !important; text-align: center">
                                    @if (item.Signature == "1")
                                    {
                                        <a asp-page="./Index" name="foo1" asp-page-handler="UnSign" asp-route-id="@item.Id" style="font-size: 20px">

                                            <i class="ion-checkmark-circled" style="color: #1f9c11"></i>
                                            <input type="hidden" value="@item.Id" name="signed" />
                                        </a>
                                    }
                                    else
                                    {
                                        <a asp-page="./Index" name="foo2" asp-page-handler="Sign" asp-route-id="@item.Id" style="font-size: 20px">
                                            <i class="ion-ios7-circle-outline" style="color: #dd3632"></i>
                                            <input type="hidden" value="@item.Id" name="unsigned" />
                                        </a>

                                    }

                                </td>

                                @{
                                    i++;
                                }
                                <td>

                                    <a permission="20114" class="btn btn-warning pull-right m-rl-5 rad"
                                       href="#showmodal=@Url.Page("./Index", "Edit", new {Id = item.Id})">
                                        <i class="fa faSize fa-edit"></i>
                                    </a>
                                    @*<a permission="20115" class="btn btn-info pull-right m-rl-5 rad"
                                       href="#showmodal=@Url.Page("./Index", "Details", new {Id = item.Id})">
                                        <i class="fa faSize fa-print"></i>
                                    </a>*@



                                    @if (item.IsActiveString == "true")
                                    {
                                        <a permission="20116" id="googleLink" asp-page="./Index" asp-page-handler="DeActive" asp-route-id="@item.Id" class="btn btn-danger pull-right m-rl-5 fff rad"><i class="fa faSize fa-trash"></i></a>

                                    }
                                    else
                                    {
                                        <a permission="20116" asp-page="./Index" asp-page-handler="IsActive" asp-route-id="@item.Id" class="btn btn-success pull-right m-rl-5 rad"><i class="fa faSize fa-rotate-left"></i> </a>
                                    }

                                </td>

                            </tr>




                            }



                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section PanelScripts{
    <script src="~/AdminTheme/assets/js/site.js"></script>
    <script src="~/adminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            //$(function () {
            //    $('#search').on('keyup', function () {
            //        var pattern = $(this).val();
            //        $('.searchable-container .items').hide();
            //        $('.searchable-container .items').filter(function () {

            //            /*      $('#hhh').val() = $(this).text().match(new RegExp(pattern, 'i'));*/
            //            return $(this).text().match(new RegExp(pattern, 'i'));
            //        }).show();
            //    });
            //});
            $("#originalTitle").change(function () {
                $("#subtitle").empty();
                $.ajax({
                    type: 'GET',
                    url: '/Admin/Company/TextManager?handler=SubtitleList',
                    dataType: 'json',
                    data: { OriginalTitle_Id: $("#originalTitle").val() },
                    success: function (result) {
                        $("#subtitle").append(' <option value="' + -1 + '">' +
                            "نام بخش را انتخاب کنید" + '</option>');
                        $.each(result, function (i, result) {
                            $("#subtitle").append(' <option value="' + result.id + '">' +
                                result.subtitle + '</option>');
                        });
                    },
                    error: function (ex) {
                        alert('Error');
                    }
                });
                return false;
            });

        });
    </script>

    <script>
        $('.activer').on('change',
            function (e) {
                e.preventDefault();
                $('.search').click();
            });
    </script>
    <script>

        if (document.getElementById("activing").selectedIndex == 1) {
            $('.deact').remove();
            $('.act').append(
                ' <a class="btn btn-success pull-right m-rl-5 rad react" onclick="reActiveAll()">' + '<i class="fa faSize fa-rotate-left"></i>' + ' </a>'
            );
        }
        if (document.getElementById("activing").selectedIndex == 2) {
            $('.deact').remove();
        }

    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#datatable').dataTable({
                "lengthMenu": [[25, 10, 50, 100, -1], [25, 10, 50, 100, "All"]]
            });
        });
    </script>
    <script>
        $(document).ready(function () {
            $('#datatable2').dataTable(
                {
                    "lengthMenu": [[25, 10, 50, 100, -1], [25, 10, 50, 100, "All"]]
                });
        });
    </script>

    <script>
        var checkboxes;
        function selectori(source) {
            checkboxes = document.getElementsByName('foo');
            for (var i = 0, n = checkboxes.length; i < n; i++) {
                checkboxes[i].checked = source.checked;
            }
        }
    </script>
    <script>
        function copyLink() {
            if (document.getElementById("checkSelect").checked == false) {
                $.Notification.autoHideNotify('error', 'top center', 'پیام سیستم ', " هیچ  متن ی انتخاب نشده است ");
            } else {
                if (document.getElementById("sercheCheck").value == "true") {
                    checkboxes = document.getElementsByName('foo');
                    var url3 = '';
                    for (var i = 0, n = checkboxes.length; i < n; i++) {
                        if (checkboxes[i].checked == true) {
                            var u = '&ids=' + checkboxes[i].value;
                            url3 = url3 + u;
                        }
                    }
                    var url1 = '#showmodal=';
                    var url2 = '@Url.Page("/Company/Contracts/Index", "PrintAll")';
                    window.location.href = url1 + url2 + url3;
                } else if (document.getElementById("sercheCheck").value == "false") {
                    console.log(document.getElementById("sercheCheck").value);
                    $.Notification.autoHideNotify('error', 'top center', 'پیام سیستم ', " لطفا در قسمت جستجوی  متن  حداقل یکی از فیلدهای کارکاه یا پرسنل را انتخاب نموده و سپس جستجو را کلیک کنید ");
                }
            }
        }
        function deactiveAll() {
            if (document.getElementById("checkSelect").checked == false) {
                $.Notification.autoHideNotify('error', 'top center', 'پیام سیستم ', " هیچ  متنی انتخاب نشده است ");
            } else {
                if (document.getElementById("sercheCheck").value == "true") {
                    swal({
                        title: "آیا حذف این  متن ها اطمینان دارید؟",
                        text: "",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "بله",
                        cancelButtonText: "خیر",
                        closeOnConfirm: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            checkboxes2 = document.getElementsByName('foo');
                            var url3b = '';
                            for (var i2 = 0, n2 = checkboxes2.length; i2 < n2; i2++) {
                                if (checkboxes2[i2].checked == true) {
                                    var u2 = '&ids=' + checkboxes2[i2].value;
                                    url3b = url3b + u2;
                                }
                            }
                            /*  var url1 = '#showmodal=';*/
                            var url2b = '@Url.Page("/Company/Contracts/Index", "GroupDeActive")';
                            /*   var url3 = document.getElementById('yearSend').value;*/
                            window.location.href = url2b + url3b;
                        }
                    });

                } else if (document.getElementById("sercheCheck").value == "false") {
                    console.log(document.getElementById("sercheCheck").value);
                    $.Notification.autoHideNotify('error', 'top center', 'پیام سیستم ', " لطفا در قسمت جستجوی  متن  حداقل یکی از فیلدهای کارکاه یا پرسنل را انتخاب نموده و سپس جستجو را کلیک کنید ");
                }
            }
        }
    </script>
    <script>
        function reActiveAll() {
            if (document.getElementById("checkSelect").checked == false) {
                $.Notification.autoHideNotify('error', 'top center', 'پیام سیستم ', " هیچ  متن ی انتخاب نشده است ");
            } else {
                if (document.getElementById("sercheCheck").value == "false") {
                    $.Notification.autoHideNotify('error', 'top center', 'پیام سیستم ', " لطفا در قسمت جستجوی  متن  حداقل یکی از فیلدهای کارکاه یا پرسنل را انتخاب نموده و سپس جستجو را کلیک کنید ");
                } else if (document.getElementById("sercheCheck").value == "true") {
                    swal({
                        title: "آیا فعال نمودن این  متن ها اطمینان دارید؟",
                        text: "",
                        type: "warning",
                        showCancelButton: true,
                        confirmButtonColor: "#DD6B55",
                        confirmButtonText: "بله",
                        cancelButtonText: "خیر",
                        closeOnConfirm: false
                    }, function (isConfirm) {
                        if (isConfirm) {
                            checkboxes2 = document.getElementsByName('foo');
                            var url3b = '';
                            for (var i2 = 0, n2 = checkboxes2.length; i2 < n2; i2++) {
                                if (checkboxes2[i2].checked == true) {
                                    var u2 = '&ids=' + checkboxes2[i2].value;
                                    url3b = url3b + u2;
                                }
                            }
                            var url2b = '@Url.Page("/Company/Contracts/Index", "GroupReActive")';
                            window.location.href = url2b + url3b;
                        }
                    });
                }
            }
        }
    </script>
    <script>

        function SignatureSelect() {

            if (document.getElementById("sercheCheck").value == "false") {
                $.Notification.autoHideNotify('error', 'top center', 'پیام سیستم ', " لطفا در قسمت جستجوی  متن  حداقل یکی از فیلدهای کارکاه یا پرسنل را انتخاب نموده و سپس جستجو را کلیک کنید ");
            } else if (document.getElementById("sercheCheck").value == "true") {

                swal({
                    title: "آیا از حذف این  متن ها اطمینان دارید؟",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "بله",
                    cancelButtonText: "خیر",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        /*    $("a.dell").click();*/
                        checkboxes2 = document.getElementsByName('unsigned');
                        var url3b = '';
                        for (var i2 = 0, n2 = checkboxes2.length; i2 < n2; i2++) {

                            var u2 = '&ids=' + checkboxes2[i2].value;
                            url3b = url3b + u2;
                        }
                        var url2b = '@Url.Page("/Company/Contracts/Index", "GroupSign")';
                        window.location.href = url2b + url3b;
                    } else {

                    }
                });
            }
        }
    </script>
    <script>
        function SignatureSelect2() {
            if (document.getElementById("sercheCheck").value == "false") {
                $.Notification.autoHideNotify('error', 'top center', 'پیام سیستم ', " لطفا در قسمت جستجوی  متن  حداقل یکی از فیلدهای کارکاه یا پرسنل را انتخاب نموده و سپس جستجو را کلیک کنید ");
            } else if (document.getElementById("sercheCheck").value == "true") {

                swal({
                    title: "آیا حذف این  متن ها اطمینان دارید؟",
                    text: "",
                    type: "warning",
                    showCancelButton: true,
                    confirmButtonColor: "#DD6B55",
                    confirmButtonText: "بله",
                    cancelButtonText: "خیر",
                    closeOnConfirm: false
                }, function (isConfirm) {
                    if (isConfirm) {
                        /*    $("a.dell").click();*/
                        checkboxes2 = document.getElementsByName('signed');
                        var url3b = '';
                        for (var i2 = 0, n2 = checkboxes2.length; i2 < n2; i2++) {

                            var u2 = '&ids=' + checkboxes2[i2].value;
                            url3b = url3b + u2;
                        }
                        var url2b = '@Url.Page("/Company/Contracts/Index", "GroupUnSign")';

                        window.location.href = url2b + url3b;
                    } else {
                    }
                });
            }
        }
    </script>

}