@page
@model ServiceHost.Areas.Admin.Pages.Company.FilePage.SessionsModel
@{
    Layout = "Shared/_AdminLayout";
    ViewData["title"] = "جلسات";
}
<style>
    .thh0 {
        width: 8px !important;
    }

    .thh {
        width: 40px !important;
    }

    .thh2 {
        width: 130px !important;
    }

    .thhNastionalId {
        width: 30px !important;
    }

    .inpt {
        width: 100%;
        border: 1px solid #c7c7c7;
    }

    .searchpanel {
        background-color: #747272;
    }

    .select2-container .select2-selection--single {
        height: 34px;
    }
                 
    table tbody tr {
        height: 33.64px;
    }
                                                                                                
    table.dataTable tbody > tr > td p {
        font-size: 12px !important;
        text-align: center !important;
        vertical-align: middle;

    }

    table.table-bordered tbody td {
        border-bottom-width: 1.5px;
    }

    table.dataTable thead > tr > th {
        padding-left: 8px;
        padding-right: 8px;
        padding-top: 30px;
        vertical-align: middle;
    }

    .ionRad {
        border-radius: 8px !important;
        padding: 1px 5px;
    }

    .ionSize {
        font-size: 14.5px !important;
        top: 2px !important;
        position: relative;
    }

    #datatable td {
        font-size: 12px;
    }
    </style>



<div class="row">

    <div class="col-sm-12">
        <div class="panel-group panel-group-joined" id="accordion-test">

            <div class="panel panel-default" style="border-radius: 15px !important;">
                <div class="panel-heading" style="background-color: #545353 !important">
                    <h4 class="panel-title" style="color: #edebeb !important; display: inline;">
                        <a data-toggle="collapse" data-parent="#accordion-test" href="#collapseOne" class="collapsed" style="display: inline;">
                            جستجوی جلسات
                        </a>
                    </h4>

                </div>
                <div id="collapseOne" class="panel-collapse collapse in ">
                    <div class="panel-body" style="padding-top: 15px; padding-bottom: 15px;">
                        <div class="row">
                            <div class="col-sm-12">
                                <form class="form-inline" role="form" method="GET" name="search-theme-form" id="search-theme-form" autocomplete="off">
                                    <div class="form-group col-sm-12">
                                        <div class="row">
                                            <div class="col-sm-2 pull-right m-b-15">
                                                <select class="form-control select-city" data-val="false" asp-for="searchModel.File.ArchiveNo" style="width: 100%">
                                                    <option value="-1">شماره بایگانی</option>
                                                    
                                                    @foreach (var item in @Model.searchModel.ArchiveNo_FileClass_UserIdList)
                                                    {
                                                        <option value="@item.ArchiveNo">@item.ArchiveNo</option>
                                                    }

                                                </select>
                                            </div>
                                            <div class="col-sm-2 pull-right m-b-15">
                                                <select class="form-control select-city" asp-for="searchModel.File.FileClass" style="width: 100%">
                                                    <option value="">کلاسه پرونده</option>
                                                    
                                                    @foreach (var item in @Model.searchModel.ArchiveNo_FileClass_UserIdList)
                                                    {
                                                        <option value="@item.FileClass">@item.FileClass</option>
                                                    }

                                                </select>
                                            </div>
                                            <div class="col-sm-2 pull-right m-b-15">
                                                <select class="form-control select-city"  asp-for="searchModel.UserId" style="width: 100%">
                                                    <option value="0">موکل</option>

                                                    @foreach (var item in @Model.searchModel.UsersList)
                                                    {
                                                        <option value="@item.Id">@item.FullName</option>
                                                    }

                                                </select>
                                            </div>
                                            <div class="col-sm-2 pull-right m-b-15">
                                                <select class="form-control select-city"  asp-for="searchModel.Board.BoardType_Id" style="width: 100%">
                                                    <option value="0">مرحله رسیدگی</option>
                                                    <option value="1">تشخیص</option>
                                                    <option value="2">حل اختلاف</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-12"></div>
                                            <div class="col-sm-1 pull-right m-b-15">
                                                <select class="form-control select-city"  asp-for="searchModel.Year" style="width: 100%">
                                                    <option value="0">سال</option>

                                                    @for (var k = 1385; k < 1499; k++)
                                                    {
                                                        <option value="@k">@k</option>
                                                    }

                                                </select>
                                            </div>
                                            <div class="col-sm-1 pull-right m-b-15">
                                                <select class="form-control select-city"  asp-for="searchModel.Month" style="width: 100%">
                                                    <option value="0">ماه</option>

                                                    @for (var k = 1; k <= 12; k++)
                                                    {
                                                        <option value="@k">@k</option>
                                                    }

                                                </select>
                                            </div>
                                            <div class="col-sm-1 pull-right m-b-15">
                                                <select class="form-control select-city"  asp-for="searchModel.Day" style="width: 100%">
                                                    <option value="0">روز</option>

                                                    @for (var k = 1; k <= 31; k++)
                                                    {
                                                        <option value="@k">@k</option>
                                                    }

                                                </select>
                                            </div>
                                            <div class="col-sm-1 pull-right m-b-15">
                                                <input class="form-control inpt" asp-for="searchModel.Time" placeholder="ساعت" style="width: 100%">
                                            </div>
                                            <div class="col-sm-2 pull-right m-b-15">
                                                <select class="form-control select-city"  asp-for="searchModel.Status" style="width: 100%">
                                                    <option value="0">هردو</option>
                                                    <option value="1">انجام نشده</option>
                                                    <option value="2">انجام شده</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-2 pull-right m-b-15">
                                                <input class="form-control inpt" asp-for="searchModel.Board.BoardChairman" placeholder="رئیس هیات" style="width: 100%">
                                            </div>
                                        </div>

                                        <div class="row" style="margin-top: 15px">


                                            <div class="col-lg-9">
                                            </div>

                                            <div class="col-lg-3">
                                                <button type="submit" class="btn btn-success btn-rounded waves-effect waves-light m-b-5" style="border-bottom-left-radius: 0px; border-top-left-radius: 0px; background-color: #950000; border-color: #950000; font-family: 'Web_Yekan' !important; margin-left: -3px"> <i class="fa fa-search" style="padding-left: 3px; font-size: 14px;"></i> جستجو</button>
                                                <a class="btn btn-info btn-rounded waves-effect waves-light m-b-5" style="border-bottom-right-radius: 0px; border-top-right-radius: 0px; background-color: #545353; border-color: #545353; font-family: 'Web_Yekan' !important;" asp-page="./Sessions">مشاهده همه</a>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title"><i class="fa fa-list" style="padding-left: 3px; font-size: 14px"></i> لیست گزارش ها</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-12 col-sm-12 col-xs-12">
                        <table id="datatable" class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    
                                    <th>#</th>

                                    <th style=" font-size: 10px; text-align: center"> شماره بایگانی </th>
                                    <th style=" font-size: 10px; text-align: center"> کلاسه پرونده </th>
                                    <th style=" font-size: 10px; text-align: center"> موکل </th>
                                    <th style=" font-size: 10px; text-align: center"> طرف مقابل </th>
                                    <th style=" font-size: 10px; text-align: center"> ساعت </th>
                                    <th style=" font-size: 10px; text-align: center"> مرجع رسیدگی </th>
                                    <th style=" font-size: 10px; text-align: center"> مرحله رسیدگی </th>
                                    <th style=" font-size: 10px; text-align: center"> شعبه </th>
                                    <th style=" font-size: 10px; text-align: center"> رئیس هیات </th>
                                    <th style=" font-size: 10px; text-align: center">  </th>
                                </tr>
                            </thead>
                            <tbody>
                                @{ var i = 1; }
                                @foreach (var item in Model.viewModels)
                                {
                                    <tr>
                                        <td colspan="11" style="text-align: center; font-size: small; padding: 0; color: white; background: #b70505; border: none;">@item.FullDate</td>

                                        @for(var k = 0; k < 10; k++)
                                        {
                                            <td style="display: none;"></td>  
                                        }

                                    </tr>

                                    @foreach (var ps in item.SessionsList)
                                    {
                                        <tr>
                                            <td> 
                                                <p>@i</p>    
                                            </td>
                                            <td>
                                                <p>@ps.File.ArchiveNo</p>
                                            </td>
                                            <td>
                                                <p>@ps.File.FileClass</p>
                                            </td>
                                            <td>
                                                <p>@ps.File.ClientFullName</p>
                                            </td>
                                            <td>
                                                <p>@ps.File.OppositePersonFullName</p>
                                            </td>
                                            <td>
                                                <p>@ps.Session.Time</p>
                                            </td>
                                            <td>
                                                <p>@ps.File.ProceederReference</p>
                                            </td>
                                            <td>
                                                <p>@(ps.Board.BoardType_Id == 1 ? "تشخیص" : "حل اختلاف")</p>
                                            </td>
                                            <td>
                                                <p>@ps.Board.Branch</p>
                                            </td>
                                            <td>
                                                <p>@ps.Board.BoardChairman</p>
                                            </td>
                                            <td>
                                                @if(ps.Session.Status == 1)
                                                {
                                                    <a class="btn btn-success btn-rounded waves-effect waves-light" onclick="SetSessionStatus(@ps.Session.Id, 2)" style="float: left">انجام شد</a>
                                                }
                                                else
                                                {
                                                    <a class="btn btn-primary btn-rounded waves-effect waves-light" onclick="SetSessionStatus(@ps.Session.Id, 1)" style="float: left">انجام شده</a>
                                                }
                                            </td>
                                        </tr>
                                        i++;
                                    }
                                }

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>



@section Script {
    <script src="~/AdminTheme/assets/js/site4.js"></script>
    <script src="~/adminTheme/assets/datatables/jquery.dataTables.min.js"></script>
    <script src="~/adminTheme/assets/datatables/dataTables.bootstrap.js"></script>

    <script type="text/javascript">

        $(document).ready(function() {
            //$('#datatable').dataTable({
            //    "lengthMenu": [[25, 10, 50, 100, -1], [25, 10, 50, 100, "All"]]
            //});

            //$('#datatable2').dataTable({
            //    "lengthMenu": [[25, 10, 50, 100, -1], [25, 10, 50, 100, "All"]]
            //});

            var URL = "";

        });

        function SetSessionStatus(psId, status)
        {
            $.ajax({
            //contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            type: 'POST',
            url: '@Url.Page("./Sessions", "SetSessionStatus")',
            headers: { "RequestVerificationToken": $('@Html.AntiForgeryToken()').val() },
            data: { 
                "psId" : psId,
                "status": status
            },

            success: function (response) {
                console.log(response);
                if (response.isSuccedded) { 
                
                    $.Notification.autoHideNotify('success', 'top center', 'پیام سیستم ', response.message);
                    
                    setTimeout(function () {
                        window.location.reload();

                    }, 1000);
                }
                else
                    $.Notification.autoHideNotify('error', 'top center', 'پیام سیستم ', response.message);
            },
            failure: function (response) {
                console.log(5, response)
                alert("خطایی رخ داده است. لطفا با مدیر سیستم تماس بگیرید");
            }
        });
        }


        var listArray = [];

        //TODO restore
         @foreach (var item in @Model.searchModel.ArchiveNo_FileClass_UserIdList)
        {
                @:listArray.push({ ArchiveNo: @item.ArchiveNo, FileClass: "@item.FileClass", UserId: @item.UserId });
                
        }

        $('#searchModel_File_ArchiveNo').on('select2:select', function (e) {
          loadDataByArchiveNo()
        });

        $('#searchModel_File_FileClass').on('select2:select', function (e) {
          loadDataByFileClass()
        });
        
        $('#searchModel_UserId').on('select2:select', function (e) {
          loadDataByUserId()
        });

        function loadDataByArchiveNo() 
        {
            var archiveNo = $('#searchModel_File_ArchiveNo').val();

            if (archiveNo == "") {

                $("#searchModel_File_FileClass").val("").trigger('change');
                $("#searchModel_UserId").val(0).trigger('change');
                return;
            }
                

            for (var i = 0; i < listArray.length; i++) 
            {
                if (listArray[i].ArchiveNo == archiveNo) 
                {
                    $("#searchModel_File_FileClass").val(listArray[i].FileClass).trigger('change');
                    $("#searchModel_UserId").val(listArray[i].UserId).trigger('change');
                }
            }
        }
        

        function loadDataByFileClass() 
        {
            var fileClass = $('#searchModel_File_FileClass').val();

            if (fileClass == "") {

                $("#searchModel_File_ArchiveNo").val("").trigger('change');
                $("#searchModel_UserId").val(0).trigger('change');
                return;
            }

            for (var i = 0; i < listArray.length; i++) 
            {
                if (listArray[i].FileClass == fileClass) 
                {
                    $("#searchModel_File_ArchiveNo").val(listArray[i].ArchiveNo).trigger('change');
                    $("#searchModel_UserId").val(listArray[i].UserId).trigger('change');
                }
            }
        }
        
        function loadDataByUserId() 
        {
            var userId = $('#searchModel_UserId').val();

            //if (userId == 0) {

            //    $("#searchModel_File_ArchiveNo").val("").trigger('change');
            //    $("#searchModel_File_FileClass").val("").trigger('change');
            //    return;
            //}

            for (var i = 0; i < listArray.length; i++) 
            {
                if (listArray[i].UserId == userId) 
                {
                    $("#searchModel_File_ArchiveNo").val(listArray[i].ArchiveNo).trigger('change');
                    $("#searchModel_File_FileClass").val(listArray[i].FileClass).trigger('change');
                    return;
                }
            }

            $("#searchModel_File_ArchiveNo").val("").trigger('change');
            $("#searchModel_File_FileClass").val("").trigger('change');
            return;
        }

    </script>

    
}